<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <!--admin-->
    <add key="adminUser" value="admin"/>
    <add key="adminPass" value="admin"/>
    <!--main界面的学校名称-->
    <add key="unName" value="西南交通大学" />
    <add key="unEName" value="Southwest Jiaotong University" />
    
    <!--各接口地址 -->
    <add key="baseUrl" value="http://47.93.98.137:8081/app/print/" />
    <add key="machine" value="http://47.93.98.137:8081/app/print/machine" />
    <add key="machine_detail" value="http://47.93.98.137:8081/app/print/machine/detail" />
    <add key="machine_updatePaperNum" value="http://47.93.98.137:8081/app/print/machine/updatePaperNum" />
    <add key="apply_detail" value="http://47.93.98.137:8081/app/print/apply/detail" />
    <add key="type_list" value="http://47.93.98.137:8081/app/print/type/list" />
    <add key="apply_updatePrintStatus" value="http://47.93.98.137:8081/app/print/apply/updatePrintStatus" />
    <add key="ad_list" value="http://47.93.98.137:8081/app/print/ad/list" />

    <!--配置查看界面的元素-->

    <add key="id" value="001" />
    <add key="universityCode" value="10613" />
    <!--重要信息不要轻易修改-->

    <add key="Toner_Cartridge" value="信息学院"/>
    <add key="position" value="工程实训中心"/>

    <add key="IPposition" value="local"/>
    <add key="TeamviewerId" value="1"/>

    <add key="ContactName" value="无可奉告" />
    <add key="ContactPhoto" value="暂时保密" />

    <add key="machineCode" value="N001" />
    <!--重要配置信息不要轻易修改-->

    <!--是否开机自动启动-->
    <add key="IsStart" value="false" />
    <add key="NAME" value="123" />


    <!--打印模板的地址 绝对地址-->
    <add key="XJZM" value="C:\Users\FZC\Desktop\PrinterThird\PrinterThird\Resources\flowpages\student_status.xaml" />
    <add key="CJD" value="C:\Users\FZC\Desktop\PrinterThird\PrinterThird\Resources\flowpages\student_score.xaml" />

    <!--<add key="XJZM" value="\Resources\flowpages\student_status.xaml"/>
    <add key="CJD" value="\Resources\flowpages\student_score.xaml"/>-->

    <!--打印机相关信息-->
    <!--<add key="Printer" value="NPIBC16A7 (HP Color LaserJet MFP M277dw)" />-->
    <!--<add key="Printer" value="HP LaserJet 1020"/>-->
    <add key="Printer" value="Hewlett-Packard HP LaserJet M604" />  
    <add key="printedPageNum" value="498" />
    <add key="remainPageNum" value="600" />
    <add key="nowStatus" value="正常" />
    <add key="printerStatus" value="正常"/>
    <add key="logFile" value="log.xml"/>


  </appSettings>
</configuration>